# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# MLflow
mlruns/
mlartifacts/

# Models (too large for git)
models/*.pkl

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
.github/
